<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <title>Weathering With Me</title>
    <link rel="icon" type="image/png" sizes="160x160" href="./img/cloud.png" />
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Noto+Serif&amp;display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Poppins&amp;display=swap"
    />
    <link rel="stylesheet" href="./fonts/font-awesome.min.css" />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>

  <body>
    <nav
      class="navbar navbar-light navbar-expand-md"
      style="font-family: Poppins, sans-serif;"
    >
      <div class="container-fluid"><a
          class="navbar-brand"
          href="#"
          style="font-family: Poppins, sans-serif;font-weight: bold;font-size: 24px;"
        >Weathering With Me</a><button
          data-bs-toggle="collapse"
          class="navbar-toggler"
          data-bs-target="#navcol-1"
        ><span class="visually-hidden">Toggle navigation</span><span
            class="navbar-toggler-icon"
          ></span></button>
        <div
          class="collapse navbar-collapse d-md-flex d-lg-flex d-xl-flex justify-content-md-end align-items-md-center justify-content-lg-end align-items-lg-center justify-content-xl-end align-items-xl-center"
          id="navcol-1"
        >
          <ul class="navbar-nav">
            <li class="nav-item"><a
                class="nav-link active"
                href="/"
              >Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">More Information</a></li>
            <li class="nav-item"></li>
          </ul>
        </div>
      </div>
    </nav>
    <section id="main-content">
      <div style="padding: 42px;">
        <h1
          style="font-size: 20px;text-align: center;font-family: Poppins, sans-serif;font-weight: bold;"
        >More Information</h1>
        <hr style="transform: scale(0.34);" />
        <p
          style="text-align: center;font-family: Poppins, sans-serif;font-size: 14px;"
        >This weather application is made to mess around with the weatherstack
          and mapbox APIs. The latter is used to geocode the location in order
          to use the requested coordinates on weatherstack.This weather
          application is made to mess around with the weatherstack and mapbox
          APIs. The latter is used to geocode the location in order to use the
          requested coordinates for weatherstack.
          <br /><br />This app uses "free" API subscriptions. Mapbox offers
          100,000 free requests per month. Unfortunately, Weatherstack only
          allows 250 free requests per month, which means there will be times
          when the service will not be available. With that said, I'd appreciate
          it if you did not spam requests to let other visitors try the
          app. &nbsp;<br /><br />Visit&nbsp;<a
            href="https://github.com/axojolotl/weathering-with-me"
          >GitHub Repository</a>&nbsp;for additional information.</p>
      </div>
    </section>
    <footer id="footer">
      <div style="padding: 22px;">
        <p
          class="text-muted"
          style="text-align: center;font-family: Poppins, sans-serif;"
        >Created by Axojolotl</p>
      </div>
    </footer>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
  </body>

</html>