<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./img/cloud.png">
    <link rel="stylesheet" href="./css/styles.css" />

    <title>Help</title>
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    <h2>Help page</h2>
    <p>This app is using a free API subscription to use WeatherStack which means there is a limit to how many requests can be made. 
      TLDR: If the app does not work, it's probably because it reached the monthly limit for free requests.
    </p>
    <p>{{message}}</p>
    </div>
    {{>footer}}
  </body>
</html>